.github-profile {
  margin: 1rem;
}
.info{
  display: inline-block;
  margin-left: 12px;
}
img {
  width: 75px;
}
.name {
  font-size: 125%;
}
.header {
  background-color: black;
  color: white;
  text-size-adjust: auto;
  width: 300px;
  border: 15px solid whitesmoke;
  padding: 50px;
  margin: 20px;
}
.card-content {
  background-color: black;
  color: white;
  text-size-adjust: auto;
  width: 300px;
  border: 15px solid whitesmoke;
  padding: 50px;
  margin: 20px;
}
.form-submit {
  background-color: black;
  color: white;
  text-size-adjust: auto;
  width: 375px;
  border: 15px solid whitesmoke;
  padding: 15px;
  margin: 20px;
}